$blue : #5BCEF5;

body {
  background: $blue;
}

li {
  font-size: 20px;

}

p {
  font-size: 20px;
  margin-top: auto;
}

#username {
  margin-top: auto;
}

h1 {
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}
